.top-three-wrapper {
  background: linear-gradient(145deg, #ffeeba, #fff3cd);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #f7d774;
  border-radius: 20px;
  padding: 30px;
}

.top-three-user .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 20px;
}
.top-three-user .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.top-three-user.order-2 {
  transform: scale(1.1);
  z-index: 2;
}

.card-body .badge {
  font-size: 0.8rem;
}
